/* @media (min-width: 768px) {
  nav ul {
    flex-direction: row;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
} */
/* larger.css - Responsive styles */
@media (min-width: 768px) {
  #menu {
    display: block;
  }
  #menu-btn {
    display: none;
  }
}
